body{
  margin: 0;
}

.container{
  height: 100vh;
  width: 100vw;

  font-family: 'Quicksand' sans-serif;
  font-size: 20px;

  display: grid;
  grid-template-rows: 100px 60px 1fr 1fr;

  background-color: #E0FFFF ;
/*  background-color: #6495ED ;*/
}


.header{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 120px;
  background-color: #ffffff;
  margin: 0;
  border-bottom: #696969;

  display: grid;
  grid-template-rows: repeat(2,1fr);
}

.header-tools-wrapper{
  background-color: #fcff7c;
  height: 50px;
  width: 100vw;
  margin: 0;
}

.cart-wrapper{
  height: 50px;
  width: 75px;
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  color:#696969 ;
  padding-top: 10px;
  background-color: white;
  float: right;
  padding-left: 10px;
  margin-right: 50px;
}

.header-main-content{
  height: 70px;
  width: 100vw;
  margin: 0;
  font-family: monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  color:#696969 ;
  float: left;
  padding-left: 100px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.sort{
  font-size: 15px;
}
.sort-row{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;

  background-color: white;
  /*background-color: #FFA50F;*/

  text-align: center;
  padding-top: 10px;
}


.card-column{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;

  display: grid;
  grid-auto-rows: repeat(2,1fr);
  padding-left: 15px;
}

.card-row1{
  margin-top: 0;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-column-start:  1;
  grid-column-end: 5;
  gap: 15px;

}


.ascii-face{
  padding-bottom: 20px;
  padding-top: 15px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  font-size: product.style;

}

.card{
  padding: 20px;
  background-color:#fcff7c ;
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  color:#696969 ;
}

.buy-button{
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  background-color: #FF1493;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  float: right;
  color: white;
}

.product-description{
  font-size: 15px;
}
